.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons-container {
  margin-top: 40px;
}

.icons-carousel {
  margin-top: 30px;
}

.icon i {
  font-size: 3rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.small-title {
  font-size: 1.3rem;
}

.flickity-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.icons-carousel .flickity-prev-next-button {
  width: 22px;
  height: 22px;
}

/* for desktop */

@media (min-width: 600px) {
  .icons-carousel .flickity-prev-next-button {
    width: 35px;
    height: 35px;
  }

  .icon i {
    font-size: 4rem;
  }
}
