.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--black);
  position: relative;
}

.content {
  flex: 1;
  padding: 6%;
}

/* links and buttons */

button,
a {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}

button:hover,
a:hover {
  transform: scale(1.1);
}

/* buttons */

button {
  border: 1px solid var(--black);
}

/* section links */

.links a,
.footer a {
  font-size: 1.1rem;
}

/* mobile menu  */

.mobile-nav-btn {
  border: none;
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 1.6rem;
  z-index: 1;
}

.links {
  display: none;
}

.links.active {
  position: fixed;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  top: 0;
  padding: 60px 0 60px 0;
  width: 100%;
  background-color: #ffffff;
}

/* footer */

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  top: 15px;
  left: 20px;
}

.footer i {
  font-size: 1rem;
}

/* transition between sections */

@keyframes swipeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.swipeEffect {
  animation: swipeIn 800ms ease-in-out;
}

/* for desktop */

@media (min-width: 1024px) {
  .mobile-nav-btn {
    display: none;
  }

  .container {
    padding-left: 15%;
    padding-right: 15%;
    gap: 60px;
  }

  .content {
    padding: 0;
  }

  .links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 30px;
  }

  .footer i {
    font-size: 1.5rem;
  }
}
