.container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 60px;
  align-items: center;
  font-size: 1rem;
  color: var(--black);
  position: relative;
}

.content {
  flex: 1;
}

/* links and buttons */

button,
a {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}

button:hover,
a:hover {
  transform: scale(1.1);
}

.flickity-button:hover {
  transform: translateY(-50%) scale(1.1);
}

/* buttons */

button {
  border: 1px solid var(--black);
}

/* section links */

.links {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links a,
.footer a {
  font-size: 1.1rem;
}

/* footer */

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 30px;
  right: 35px;
}

.footer i {
  font-size: 1.5rem;
}

/* transition between sections */

@keyframes swipeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.swipeEffect {
  animation: swipeIn 800ms ease-in-out;
}
