.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-section *:focus{
  outline: none;
}

.form-section input,
.form-section textarea {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  padding: 7px;
}

.submit-btn {
  width: 32%;
  padding: 8px;
}

/* for desktop */

@media (min-width: 600px) {
  .submit-btn {
    width: 25%;
    padding: 8px;
  }
}
