.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-section > *:focus {
  outline: none;
}

.form-section input {
  padding: 10px;
}

.form-section input,
.form-section textarea {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
}

.submit-btn {
  background-color: transparent;
  border: 1px solid var(--black);
  width: 25%;
  padding: 8px;
  color: var(--black);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.submit-btn:hover {
  transform: scale(1.1);
}
